backend/db.sqlite3
# Python bytecode
__pycache__/
*.py[cod]

# Thư mục môi trường ảo
venv/
env/
.env/

# Tệp cấu hình của môi trường
*.env

# Thư mục cơ sở dữ liệu
db.sqlite3

# Tệp log
*.log

# Tệp cấu hình IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Tệp cache
*.pyc
*.pyo
*.pyd

# Thư mục tạm thời
tmp/
temp/

# Thư mục lưu trữ tệp tĩnh
staticfiles/
media/
